@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions
<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/awesome/css/all.css" />



</head>
<body>
    <header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active" >
            <a class="nav-link" aria-current="page"  href="#">Main Page</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" asp-area="" asp-action="LoginView" asp-controller="Account" >@Localizer["Login"]</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  asp-action="SignUpView" asp-controller="Account">@Localizer["SignUp"]</a>
          </li>
          
         </ul>
         <ul>

         </ul>
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item" >
            <a class="nav-link" href="#"> @await Html.PartialAsync("SelectCulture")</a>
          </li>
            @if (User.Identity.IsAuthenticated)
            {
              <li class="nav-item" >
            <a class="nav-link" href="#">
               
                <p6 style="color: #111">Welcome @User.Identity.Name </p6>
            
            </a>
          </li>
            }
</ul>
            


 
        
      </div>
    </div>
  </nav>
  
</header>

        <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        
        </main>
    </div>
   

<footer class="bg-light text-center text-white">
 
  <div class="container p-4 pb-0">
    <section class="mb-4">

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/SarAlrabiah1999"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

   
      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://sa.linkedin.com/in/sara-alrabiah-5897851b9"
        role="button"
        >
       <i class="fa-brands fa-linkedin"></i>
    </a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/SaraAlrabiah"
        role="button"
        >
       <i class="fa-brands fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>

</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
