@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> locOptions
<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - To Do App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/awesome/css/all.css" />
@*    <link href="~/css/style.css" rel="stylesheet">
*@       <link href="~/lib/bootstrap/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="~/welcomePage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/welcomePage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <link href="~/welcomePage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
   
  <link href="~/images/Todo.png" rel="icon">

</head>
<body>
      <header id="header" class="sticky-top">
    <div class="container d-flex align-items-center justify-content-between">

      <a asp-action="WelcomePage" asp-controller="Account" class="logo"><img src="~/images/Todo.png" alt="" class="img-fluid"></a>
      
        <nav id="navbar" class="navbar">
        <ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                          <li><a class="nav-link scrollto" >Create Task</a></li>
          <li><a class="nav-link scrollto" >Settings</a></li>

      
          
           <li class="nav-item" >
                                <a class="nav-link" href="#">

                                    <p6 style="color: #111">@Localizer["Welocme"]  @User.Identity.Name </p6>

                                </a>
                            </li>
 
                    }
                    else
                    {
                           <li><a class="nav-link scrollto active" asp-action="SignUpView" asp-controller="Account">@Localizer["SignUp"]</a></li>
                           <li><a class="nav-link scrollto active" asp-action="LoginView" asp-controller="Account">@Localizer["Login"]</a></li>
                        
                    }
                     <li class="nav-item" >
                            <a class="nav-link" href="#"> @await Html.PartialAsync("SelectCulture")</a>
                        </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                                                    <li class="nav-item">
                                <a asp-area="" asp-controller="Account" asp-action="Logout" class="nav-link" style="color: #111" >
                                  <i class="fas fa-sign-out-alt" ></i>
                                  
                                </a>
                            </li>
                    }

    
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

        <div class="container">
        <main role="main" class="pb-3">
           
            @RenderBody()
        
        </main>
    </div>
   

<footer class="bg-light text-center text-white">
 
 @* <div class="row p-4 pb-0">*@
    <section class="mb-4">

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/SarAlrabiah1999"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

   
    
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="https://sa.linkedin.com/in/sara-alrabiah-5897851b9"
        role="button"
        >
       <i class="fa-brands fa-linkedin"></i>
    </a>
 
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/SaraAlrabiah"
        role="button"
        >
       <i class="fa-brands fa-github"></i>
      </a>
    </section>
 
@*  </div>*@

</footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script src="~/Butterfly/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/main.js"></script>
  <script src="~/welcomePage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
   <script src="~/welcomePage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="~/welcomePage/assets/vendor/swiper/swiper-bundle.min.js"></script>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
