@model IEnumerable<WebApp.Models.ViewTask>

@{
    ViewData["Title"] = "ViewEmpServices";
    Layout = "_Layout";
}

<!--Datatable style-->
@section Style{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="~/css/site.css" rel="stylesheet" />
}

<!--Data Table-->
@section Scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript">
         var mvcBaseUrl = '@ViewBag.BaseMvcUrl';
        var table = $('#Mytable').DataTable();
            if (!table.data().any()) {
                alert('Empty table');
            }
            else {
                $(document).ready(function () {
                    table;
                });


            }



    </script>
}
<script src="~/js/Service/Service-js.js"></script>
<head>
    
   
    <title>@ViewData["Title"] - WebApp</title>
   <link rel="stylesheet" href="~/css/AcountStyle.css" />

</head>
<p>
    <a harf="@Url.Action("Create", "Request")" title="Add New Request" class="btn " style="background-color:#F88379" asp-action="Create"><i class="fa fa-plus"></i> Submit a New Request</a>
</p>
<body>
    <table class="table" id="Mytable">
    <thead>
        <tr>
            <th>
                

            </th>

            <th>
                Description
            </th>
            <th>
                Request Date
            </th>
            <th>
                Response Date
            </th>

            <th>
                Maintanence Type
            </th>
            <th>
                Status
            </th>

        </tr>
    </thead>
    <tbody>
   @*     @foreach (var item in Model)
        {
            <tr>
                <td>
                    <button type="button" data-toggle="modal" onclick="setRequestId(@item.ID)" data-target="#replyModel" value="@item.ID" style="display:contents; color:#F88379; font-size:24px"> <i class="fa fa-info-circle" aria-hidden="true"></i></button>
                    @*  @Html.ActionLink($"{item.ID}", "RequestDetails", new { Id = item.ID })*@
                @*</td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.RequestDate
                </td>
                <td>
                    @item.ResponseDate
                </td>

                <td>
                    @item.ServiceType
                </td>
                
                <td id="@item.Status">
                    @if (item.Status == 0)
                    {<label> In progress</label>}
                    else if (item.Status == 1)
                    {
                        <label> Closed</label>
                    }
                    else if (item.Status == 2)
                    {
                        <label> Open</label>
                    }
                    else if (item.Status == 3)
                    {
                        <label> Reject</label>
                    }
                    else if (item.Status == 4)
                    {
                        <label> Approve</label>
                    }
                    else
                    {
                        <label> Done</label>
                    }
                </td>


            </tr>
        }**@
    </tbody>
</table>

<div class="modal fade" id="replyModel" tabindex="-1" role="dialog" aria-labelledby="replyModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <h5>Description of the issue</h5>
                    <label id="description">  </label>
                </div>

                <div class="form-group">
                    <h5>Maintanence Type</h5>
                    <label id="servicetype"> </label>
                </div>

                <div class="form-group">
                    <h5> Reply Response</h5>
                    <label id="content" style=" background-color: #F88379"></label>
                </div>

                <div class="form-group">
                    <label> </label>

                </div>
                <input type="text" class="form-control" required="required" id="requestid" hidden />
            </div>

        </div>
    </div>
</div>
</body>
